<h1>Update subjects</h1>

<%= form_tag ({:action => :bulk_update_save, :method => :post})  do %>
  <table >
    <thead>
      <tr>
        <th>Subject DB ID</th>
        <th>Subject Identifier</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Age Group </th>
        <th>Age</th>
        <th>Dominant Hand</th>
        <th>Control?</th>
        <th>Tags</th>
      </tr>
    </thead>
    <tbody>
    	<tr class="fill all" style="outline: thin solid black;"> 
    		<td> <strong>Fill all </strong> </td>
    		<td> <label> N/A </label></td>
    		<td> <label> N/A </label></td>
    		<td> <label> N/A </label></td>
    		<td>
    			<%= select_tag "all_age_g" ,options_from_collection_for_select(AgeGroup.all,"AGE_GROUP_ID","NAME"),  {include_blank: true, 	:class =>"all_age_g"}  %>
  			</td>
    		<td>
   				 <%= text_field_tag "all_age", nil ,:size => 3%>
 			</td>
    		<td>
    			<%= select_tag "all_hand" ,options_for_select(['L','R']),  {include_blank: true, :class =>"all_hand"}  %>
  			</td>
    		<td>
    			<%= check_box_tag "all_control" %>
  			</td>
    		<td>
    			<%= text_field_tag "all_tag", nil,:class => "token_input"%>
    		</td>
    	</tr>
    	<tr> </tr>
      <% @subjects.each do |subject| %>
        <%= fields_for "subjects[]", subject do |f| %>
          <%= render :partial => 'bulk_update_form_fields', :locals => {:f => f, :subject => subject} %>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <p><%= submit_tag "Update Subjects", :class => 'btn btn-success' %></p>
<% end %>

