<h1>Upload</h1><br />

<table border=0>
    <!--%= form_tag(:multipart => true,:name=>"upload_form",:onsubmit=>"return validateForm()") do %-->
<%= form_tag({:action => :loading}, :multipart => true,:name=>"upload_form",:onsubmit=>"return validateForm()") do %>
<tr> 
	<th id="instructions">Add to an existing research:</th>
</tr>
<tr>
  <td><%= label_tag(:r_ex_name, "Search by Research Name:") %></td>
  <td><%= text_field_tag(:r_ex_name,nil,:class => "complete") %></td>
</tr>
<tr>
	<th colspan="1"> Or </th>
	<th/>
</tr>
<tr >
  <th id="instructions">Create a new research:</th>
</tr>
<tr>
  <td><%= label_tag(:new_r_name, "Research Name*:") %></td>
  <td><%= text_field_tag "r[name]" %></td>
</tr>
<tr>
  <td><%= label_tag(:r_owner, "Research Owner*:") %></td>
  <td><%= text_field_tag("r[owner]") %></td>
</tr>
<tr>
  <td><%= label_tag(:r_desc, "Research Description:") %></td>
  <td><%= text_field_tag("r[desc]") %></td>
</tr>
<tr>
	<td><%= label_tag(:r_loc, "Research Location*:") %></td>
	<td><%= select("r","loc",[["TAU Lab",1],["Har-Hazofim Lab",2], ["Open University Lab",3],["Field",4]],{ :include_blank => false ,:selected => :option })  %></td>
</tr>
<tr>
	<td><%= label_tag(:r_comp, "Computer type*:") %></td>
	<td><%= select("r","comp",[["Desktop",1],["Laptop",2]],{ :include_blank => false,:selected => :option })  %></td>
</tr>
<tr>
	<td><%= label_tag(:r_comp_size, "Computer Size in inch:") %></td>
	<td><%= number_field_tag("r[comp_size]")  %></td>
</tr>
<tr />
<tr >
<tr >
  <th id="instructions">Select .ans files:</th>
</tr>
 <tr >
  <td colspan=2><%= file_field_tag('ans_files', multiple: true, name: 'item[attached_assets_attributes][][asset]') %></td>
</tr>
<tr />
<tr >
    <td id="comment" colspan =3><%= submit_tag("Upload")%> Uploading multiple files may take a while.</td>

</tr>
<% end %>

 </table>