<h1>Research:</h1>
<br />

<table border=0>
<tr>
<td><b>Id</b></td>
<td><%= @research.RESEARCH_ID%></td>
</tr>
<tr>
<td><b>Name</b></td>
<td><%= @research.RESEARCH_NAME%></td>
</tr>
<tr>
<td><b>Owner</b></td>
<td><%= @research.RESEARCH_OWNER%></td>
</tr>
<tr>
<td><b>Description</b></td>
<td><%= @research.RESEARCH_DESCRIPTION%></td>
</tr>
<tr>
<td><b>Uploaded Task Runs</b></td>
<td><%= @taskRunCount%></td>
</tr>
<tr>
<td><b>Total Task Runs</b></td>
<td><%= @research.task_runs.count%></td>
</tr>
<tr>
<td><b>Bad files</b></td>
<td><%= @bad_files%></td>
</tr>
</table>
<br />
<br />


<%= link_to "<button>Measure</button>".html_safe, measures_index_path({'r_id' => @research.RESEARCH_ID}) %>

<%= link_to "<button>Update Subjects' Details</button>".html_safe , subject_bulk_update_path({'subjects_ids' => @subjectsIdList})%>

