<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Attention Lab Statistics Services</title>

  <%= stylesheet_link_tag    "application",  "token-input-facebook", :media => "all" %>
  <%= javascript_include_tag "application" , "jquery.tokeninput"%>
  <%= csrf_meta_tags %>

</head>
<body>
<div id="wrapper">
	<div id="header-wrapper" class="container">
	<div id="header" class="container">
		<div id="logo">
			<h1><%= link_to "Attention Lab", home_index_path %></h1>
		</div>
		<div id="menu">
			<ul>
				<!--<li class="current_page_item"><a href="#">Homepage</a></li>-->
				<% if(@username =='admin')%>
				<li><%= link_to "Upload", uploader_index_path %></li>
				<li><%= link_to "Measure", measures_index_path %></li>
				<li><%= link_to "Subjects", subjects_index_path %></li>
				<li><%= link_to "Manage", researches_path %></li>
				<% else %>
				<li><%= link_to "Measures", simple_measures_index_path %></li>
				<% end %>
				
			</ul>
		</div>
	</div>
	<div>
		<img src="/lab/assets/img03.png" width="1000" height="40" alt="" /></div>
	</div>
	<!-- end #header -->

	<div id="page">
		<div id="content">
			<% if flash[:alert] %>
				<div class="alert">	<%= flash[:alert] %></div>
			<% end %>
		        <%= yield %>
				

<!--				
			<div class="post">
				<h2 class="title"><a href="#">Welcome to Emerald </a></h2>
				<p class="meta"><span class="date">August 28, 2012</span><span class="posted">Posted by <a href="#">Someone</a></span></p>
				<div style="clear: both;">&nbsp;</div>
				<div class="entry">
					<p>This is <strong>Emerald </strong>, a free, fully standards-compliant CSS template designed by <a href="http://www.freecsstemplates.org">FCT</a>.  This free template is released under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a> license, so you’re pretty much free to do whatever you want with it (even use it commercially) provided you keep the links in the footer intact. Aside from that, have fun with it :)</p>
					<p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum ipsum. Proin imperdiet est. Phasellus dapibus semper urna. Pellentesque ornare, orci in felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem.</p>
					<p class="links"><a href="#" class="more">Read More</a><a href="#" title="b0x" class="comments">Comments</a></p>
				</div>
			</div>
-->
			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #content -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<div class="container"><img src="/lab/assets/img03.png" width="1000" height="40" alt="" /></div>
	<!-- end #page -->
</div>
<div id="footer-content"></div>
<div id="footer">
	<p>Copyright (c) 2012 Sitename.com. All rights reserved. Design by <a href="http://www.freecsstemplates.org">FCT</a>.</p>
</div>
<!-- end #footer -->
</body>
</html>
